<footer class="footer">
  <div class="footer-left">
    <!-- Información de contacto -->
    <h2>Contactez-nous</h2>
    <p>Téléphone: 322 4394836</p>
    <p>Email: c.charles@cansell.com</p>
    <p>Réseaux sociaux: canselleImmobilier</p>
  </div>
  <div class="footer-right">
    <!-- Espacio de búsqueda -->
    <div class="list-item">
      <h2>Code de la propriété</h2>
      <input placeholder="Rechercher par ID" />
    </div>

    <!-- Botón para buscar por ID -->
    <div class="list-item">
      <button mat-raised-button color="primary">Chercher</button>
    </div>
  </div>
</footer>
